<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="pib_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="head_horizontal">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_horizontal']}</param>
                </state_interface>
            </joint>
            <joint name="head_vertical">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_vertical']}</param>
                </state_interface>
            </joint>
            <joint name="shoulder_vertical_right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_vertical_right']}</param>
                </state_interface>
            </joint>
            <joint name="shoulder_horizontal_right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_horizontal_right']}</param>
                </state_interface>
            </joint>
            <joint name="upper_arm_right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['upper_arm_right']}</param>
                </state_interface>
            </joint>
            <joint name="elbow_right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_right']}</param>
                </state_interface>
            </joint>
            <joint name="forearm_right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['forearm_right']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
